<div>
    <div class="wrapper">
        <h5 id = "date"><span class="pull-left" id="month-minus"><</span><span class="pull-right" id="month-plus">></span>{{
            this.headerInfo.month }},
            {{ this.headerInfo.year }}</h5>

        <div class="total" id="total-balance">
            <div class="wrapper-total">
                <p class="total-header">TOTAL-BALANCE</p>

                <p class="total-sum">{{ this.headerInfo.revenues - this.headerInfo.expenses }}</p>

                <p class="previous-month"><span class="previous-sum pull-right">+12.044,50</span>Previous month</p>
            </div>
        </div>
        <div class="total" id="total-revenues">
            <div class="wrapper-total">
                <p class="total-header">TOTAL-REVENUE</p>

                <p class="total-sum">{{ this.headerInfo.revenues }}</p>

                <p class="previous-month"><span class="previous-sum pull-right">+10.999,00</span>Previous month</p>
            </div>
        </div>
        <div class="total" id="total-expenses">
            <div class="wrapper-total">
                <p class="total-header">TOTAL-EXPENSES</p>

                <p class="total-sum"> {{ this.headerInfo.expenses }}</p>

                <p class="previous-month"><span class="previous-sum pull-right">-1.056,50</span>Previous month</p>
            </div>
        </div>
        <p class="bottom-total"><span class="pull-left" id="add-expenses">Add expenses</span>
            <span class="pull-right" id="add-revenues">Add revenues</span>
        </p>
    </div>
</div>