<div>
    <div class="wrapper">
        <h5><span class = "pull-left" id = "to-home-page"><--</span> <span class="pull-right" id="chart">chart</span></h5>

        <select class="form-control" id="expenses-type">
            <option selected data-id = "1">EXPENSES BY DATE</option>
            <option data-id = "2">EXPENSES BY CATEGORY</option>
            <option data-id = "3">EXPENSES BY AMOUNT</option>
        </select>

        <h5><span class="pull-left" id="month-minus"><</span><span class="pull-right" id="month-plus">></span>{{ this.headerInfo.month }},
            {{ this.headerInfo.year }}</h5>
        <h5><b>{{ this.headerInfo.expenses }}</b></h5>

        <table>
            <tr>
                <th>DATE</th>
                <th>CATEGORY</th>
                <th>AMOUNT</th>
            </tr>
        </table>
        <ul>
            {{# _.each(model, function(item, index) { }}
            {{# if (item.revenue === false) { }}
            <li>
                <table>
                    <tr>
                        <td> {{ item.date.substr(5,5) }}</td>
                        <td> {{ item.category }}</td>
                        <td> {{ item.sum }}</td>
                    </tr>
                </table>
            </li>
            {{# } }}
            {{# }); }}
        </ul>
    </div>
</div>