.form {
  padding: 20px;
}

.form__group {
  margin-bottom: 30px;
}

.form__title {
  margin-bottom: 10px;
  font: 14px "Lato Regular", sans-serif;
  text-transform: uppercase;
  color: white;
}

.form__label {
  font: 18px "Lato Regular", sans-serif;
  color: white;
}

.form__input {
  box-sizing: border-box;
  width: 100%;
  padding: 10px 20px;
  border: none;
  background: rgba(9,9,9,0.3);
  font: 14px "Lato Regular", sans-serif;
  color: white;
}

.form__input::-webkit-input-placeholder {
  text-transform: uppercase;
  color: rgba(255,255,255,0.5);
}

.form__input::-moz-placeholder {
  text-transform: uppercase;
  color: rgba(255,255,255,0.5);
}

.form__msg {
  margin-top: 5px;
  font: 14px "Lato Regular", sans-serif;
  color: darkred;
}



/*--== MODIFIERS ==--*/

/*Settings*/

.form__group--notifications {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 5px 10px 20px;
  margin-bottom: 4px;
}
