html, body {
  height: 100%;
}

.page {
  box-sizing: border-box;
  min-height: 100%;
  padding-top: 20px;
/*  position: relative;*/
   /*  background:
     url(../img/bg2x.png) 0 0/cover no-repeat; */
/*  linear-gradient(to bottom, #1D5953, #717240);*/
}

/*
.page::before,
.page::after {
  content: "";
  position: absolute;
  height: 50%;
  left: 0;
  right: 0;
}

.page::before {
  top: 0;
  background-image: radial-gradient(circle farthest-corner at bottom, rgba(43,140,122,0.5), #1D5953);
}

.page::after {
  bottom: 0;
  background-image: radial-gradient(circle farthest-corner at top, rgba(126,140,77,0.5), #717240);
}
*/
