body {
    background: url(../img/bg2x.png) 0 0/cover no-repeat;
}

hr {
    height: 1px;
    border: none;
    background-color: rgba(255, 255, 255, 0.3);
}

a {
    text-decoration: none;
}

a:hover {
    color: white;
    text-decoration: none;
}

input, select {
    outline: none;
}

.total {
    width: 100%;
    height: 120px;
    margin-top: 10px;
    background-color: #2aabd2;
    border-radius: 3px;
}

p.total-header {
    text-align: center;
    padding-top: 20px;
    letter-spacing: 5px;
    font-size: 12px;
}

p.total-sum {
    font-size: 28px;
    letter-spacing: 2px;
}

p.previous-month {
    text-align: center;
    font-size: 12px;
    padding-left: 40px;
}

p.bottom-total {
    margin-top: 20px;
}

.form-group {
    margin-top: 30px;
    margin-bottom: 30px;
}

.btn-default {
    color: #fff;
    background-color: black;
    border-color: #fff;
    display: block;
    margin: 0 auto;
    padding: 15px 40%;
    border-radius: 6px;
    font-size: 16px;
}

#success-message {
    display: none;
    text-align: center;
    margin-top: 20px;
    font-size: 16px;
}

.dropdown-menu {
    font: 16px "Lato Regular", sans-serif;
}

.ct-bar {
    stroke-width: 50px;
}

.ct-label {
    font-size: 1.3rem;
}

div[view='chart_balance.screen'] .ct-chart {
    padding-left: 10px;
    padding-top: 10px;
}

.chart-legend {
    padding-left: 20px;
}

div.square {
    width: 15px;
    height: 15px;
    margin-right: 10px;
    float: left;
}

#ct-legend-0 {
    background: #d70206;
}

#ct-legend-1 {
    background: #f05b4f;
}

#ct-legend-2 {
    background: #f4c63d;
}

#ct-legend-3 {
    background: #d17905;
}

#ct-legend-4 {
    background: #453d3f;
}

#ct-legend-5 {
    background: #59922b;
}

#ct-legend-6 {
    background: #0544d3;
}

#ct-legend-7 {
    background: #6b0392;
}

#ct-legend-8 {
    background: #f05b4f;
}

#ct-legend-9 {
    background: #dda458;
}






