<div>
    <div class="page">
        <nav class="nav nav--expenses-by-date">
            <a class="nav__control nav__control--back btn s-cvta" id="to-expenses-page" href="#">
                <span class="icon icon--back"></span>
            </a>
            <a class="nav__title nav__title--link" href="#">
                expenses chart by category
                <span class="icon icon--caret s-cvta"></span>
            </a>

            <button class="nav__control nav__control--more btn s-cvta" type="button">
                <span class="icon icon--more"></span>
            </button>
        </nav>

        <div class="datepicker">
            <button class="btn btn--datepicker-arrow btn--datepicker-arrow-left s-cvta" id="month-minus">
                <span class="icon icon--arrow-left"></span>
            </button>
            <div>
                <div class="datepicker__date">
                    {{ this.headerInfo.month }}, {{ this.headerInfo.year }}
                </div>
                <div class="datepicker__money">
                    {{ this.headerInfo.expenses }}
                </div>
            </div>
            <button class="btn btn--datepicker-arrow btn--datepicker-arrow-right s-cvta" id="month-plus">
                <span class="icon icon--arrow-right"></span>
            </button>
        </div>

        <div class="ct-chart"></div>
        <div class="chart-legend">
            {{# _.each(model, function(item) { }}
                <div class="square" id ="ct-legend-{{ item.id }}"></div>
                <span> {{ item.category }} </span>
                <br>
            {{# }); }}
        </div>
    </div>
</div>