<div>
    <div class="wrapper">
        <h5><span class = "pull-left" id = "to-home-page"><--</span>REVENUES <span class="pull-right" id="chart">ch</span></h5>
        <h5><span class="pull-left" id="month-minus"><</span><span class="pull-right" id="month-plus">></span>{{ this.headerInfo.month }},
            {{ this.headerInfo.year }}</h5>
        <h5><b>{{ this.headerInfo.revenues }}</b></h5>

        <table>
            <tr>
                <th>DATE</th>
                <th>CATEGORY</th>
                <th>AMOUNT</th>
            </tr>
        </table>
        <ul>
            {{# _.each(model, function(item, index) { }}
            {{# if (item.revenue === true) { }}
            <li>
                <table>
                    <tr>
                        <td> {{ item.date.substr(5,5) }}</td>
                        <td> {{ item.category }}</td>
                        <td> {{ item.sum }}</td>
                    </tr>
                </table>
            </li>
            {{# } }}
            {{# }); }}
        </ul>
        <h5><span class="" id="to-add-revenues-page">add revenues</span></h5>
    </div>
</div>