<div>
    <div class="page">
        <nav class="nav nav--expenses-by-date">
            <a class="nav__control nav__control--back btn s-cvta" href="#">
                <span class="icon icon--back" id = "to-home-page"></span>
            </a>
            <a class="nav__title nav__title--link" href="#">
                revenues
               <!-- <span class="icon icon--caret s-cvta"></span> -->
            </a>
            <a class="nav__control nav__control--chart btn s-cvta" id="chart" href="#">
                <span class="icon icon--chart"></span>
            </a>
            <button class="nav__control nav__control--more btn s-cvta" type="button">
                <span class="icon icon--more"></span>
            </button>
        </nav>

        <div class="datepicker">
            <button class="btn btn--datepicker-arrow btn--datepicker-arrow-left s-cvta" id="month-minus">
                <span class="icon icon--arrow-left"></span>
            </button>
            <div>
                <div class="datepicker__date">
                    {{ this.headerInfo.month }}, {{ this.headerInfo.year }}
                </div>
                <div class="datepicker__money">
                    {{ this.headerInfo.revenues }}
                </div>
            </div>
            <button class="btn btn--datepicker-arrow btn--datepicker-arrow-right s-cvta" id="month-plus">
                <span class="icon icon--arrow-right"></span>
            </button>
        </div>

        <div class="table-hold">
            <table class="table">
                <thead>
                <tr class="table__row table__row--head">
                    <th class="table__title table__title--1">
                        date
                    </th>
                    <th class="table__title">
                        category
                    </th>
                    <th class="table__title table__title--3">
                        amount
                    </th>
                    <th class="table__title"></th>
                </tr>
                </thead>
                <tbody>
                <!--<tr class="table__row table__row--notification">
                        <td class="table__data table__data--notification" colspan="4">
                            <div class="table__notification-title">
                                notification
                            </div>
                            <div class="table__notification-text">
                                You exceeded limit SHOPPING category
                            </div>
                        </td>
                    </tr>  -->
                {{# _.each(model, function(item, index) { }}
                {{# if (item.revenue === true) { }}
                <tr class="table__row">
                    <td class="table__data">
                        {{ item.date.substr(5,5) }}
                    </td>
                    <td class="table__data">
                        {{ item.category }}
                    </td>
                    <td class="table__data table__data--3">
                        {{ item.sum }}
                    </td>
                    <td class="table__data table__data--4">
                        <button class="table__control btn settings" id="{{ item.id }}" type="button">
                            <span class="icon icon--more"></span>
                        </button>
                    </td>
                </tr>
                {{# } }}
                {{# }); }}

                </tbody>
            </table>
        </div>

        <div class="menu"> <!--Add class "menu--open" to open menu-->
            <div class="menu__overlay s-fa"></div>
            <ul class="menu__list s-fa">
                <li class="menu__point">
                    <a class="mark-text mark-text--menu mark-text--edit" href="#">
                        <span class="mark-text__text">
                            edit
                        </span>
                    </a>
                </li>
                <li class="menu__point">
                    <a class="mark-text mark-text--menu mark-text--remove" id="item-for-remove" href="#">
                        <span class="mark-text__text">
                            remove
                        </span>
                    </a>
                </li>
                <li class="menu__point">
                    <a class="mark-text mark-text--menu mark-text--cancel" id="cancel" href="#">
                        <span class="mark-text__text">
                            cancel
                        </span>
                    </a>
                </li>
            </ul>
        </div>
    </div>

</div>
<a class="btn btn--round" id="to-add-revenues-page" href="#">
    <span class="icon icon--add s-cta"></span>
</a>