.mark-text__mark {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 10px;
  vertical-align: middle;
}

.mark-text__text {
  font: 16px "Lato Regular",sans-serif;
  color: white;
  vertical-align: middle;
}

.mark-text--orange .mark-text__mark {
  background: orange;
}

.mark-text--blue .mark-text__mark {
  background: blue;
}

.mark-text--red .mark-text__mark {
  background: red;
}

.mark-text--green .mark-text__mark {
  background: green;
}

.mark-text--grey .mark-text__mark {
  background: grey;
}

.mark-text--yellow .mark-text__mark {
  background: yellow;
}


/*--== MODIFIERS ==--*/

/*Menu*/

.mark-text--menu {
  display: block;
  padding: 15px 0;
  text-decoration: none;
}

.mark-text--menu .mark-text__text {
  text-transform: uppercase;
}


/*Table some*/

.mark-text--notext .mark-text__mark {
  height: 34px;
  width: 34px;
}


/*Legend*/

.mark-text--legend {
  padding: 5px 0;
}

.mark-text--legend .mark-text__text {
  text-transform: uppercase;
}
