.mark-text__mark {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 10px;
  vertical-align: middle;
}

.mark-text__text {
  font: 16px "Lato Regular",sans-serif;
  color: white;
  vertical-align: middle;
}



/*--== MODIFIERS ==--*/

/*Menu*/

.mark-text--menu {
  display: block;
  padding: 15px 0;
  text-decoration: none;
}

.mark-text--menu .mark-text__text {
  text-transform: uppercase;
}

.mark-text--plan .mark-text__mark {
  background: orange;
}

.mark-text--settings .mark-text__mark {
  background: blue;
}

.mark-text--remove .mark-text__mark {
  background: red;
}

.mark-text--edit .mark-text__mark {
  background: green;
}

.mark-text--cancel .mark-text__mark {
  background: grey;
}


/*Expenses by category*/

.mark-text--transport .mark-text__mark {
  background: yellow;
}

.mark-text--shopping .mark-text__mark {
  background: orange;
}

.mark-text--petrol .mark-text__mark {
  background: red;
}


/*Table some*/

.mark-text--notext .mark-text__mark {
  height: 34px;
  width: 34px;
}
