.nav {
  padding: 10px 60px;
  position: relative;
  text-align: center;
}

.nav__control--back {
  left: 10px;
}

.nav__control--chart {
  right: 10px;
}

.nav__control--more {
  right: 0;
}

.nav__control .icon {
  font-size: 30px;
  color: white;
}

.nav__title {
  display: inline-block;
  font: 16px "Lato Regular", sans-serif;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
}

.nav__title .icon {
  right: 0;
}

.nav__title--link {
  position: relative;
  padding-right: 15px;
}



/*--== MODIFIERS ==--*/

/*Expenses by date, by category*/

.nav--more-controls {
  padding: 10px 70px;
}

.nav--more-controls .nav__control--chart {
  right: 40px;
}


/*Expenses by category. Expenses charts*/

@media (max-width: 420px) {
  .nav--more-controls .nav__title {
    width: 105px;
  }

  .nav--chart-expenses .nav__title {
    width: 135px;
  }
}
